.bar {
  z-index: 0;
  margin-left: -32px;
  margin-top: -30px;
  padding-bottom: 0;
  padding-right: 1px;
  height: 210px;
  position: sticky;
  top: 0;
  background: #30404d;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.2), 0 1px 1px rgba(16, 22, 26, 0.4),
    0 2px 6px rgba(16, 22, 26, 0.4);
}

.button {
  background: hsl(207, 23%, 33%);
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: hsla(204, 33%, 97%, 1);
  border-radius: 0;
  padding: 5px 10px;
}

.button:hover {
  color: hsla(204, 33%, 97%, 1);
  background: hsl(207, 23%, 37%);
  z-index: 2;
}

.button.active {
  color: hsla(204, 33%, 97%, 1);
}

.button:disabled {
  background: hsl(207, 23%, 33%);
  color: hsla(204, 33%, 97%, 0.38);
  cursor: default;
}

.button.right {
  margin-inline-start: auto;
}
