.bar {
  z-index: 2;
  margin-left: -2px;
  padding: 1px;
  width: 0;
  height: 210px;
  position: sticky;
  top: 0;
}

.button {
  background: hsl(207, 23%, 33%);
  border: none;
  font-size: inherit;
  cursor: pointer;
  color: hsla(204, 33%, 97%, 1);
  border-radius: 0;
  padding: 5px 10px;
}

.button:hover {
  color: hsla(204, 33%, 97%, 1);
  background: hsl(207, 23%, 37%);
  z-index: 2;
}

.button.active {
  color: hsla(204, 33%, 97%, 1);
}

.button:disabled {
  background: hsl(207, 23%, 33%);
  color: hsla(204, 33%, 97%, 0.38);
  cursor: default;
}

.button.right {
  margin-inline-start: auto;
}
