.board {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 5px;
  padding-right: 10px;
}

.board > * {
  flex: 1 1 0;
}

.card {
  margin: 5px;
  font-size: small;
  min-width: 200px;
  width: 200px;
  max-width: auto;
}

.newCard {
  text-align: center;
  margin: 5px;
  font-size: xx-large;
  min-width: 100px;
  width: 100px;
  max-width: 100px;
  min-height: 200px;
  line-height: 200px;
}
