.board {
  width: calc(100vw - 150px);
  display: flex;
  justify-content: start;
  align-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 0;
  padding-right: 20px;
  padding-left: 30px;
  margin-top: 10px;
  overflow-y: auto;
}

.board > * {
  flex: 1 1 0;
}

.newCard {
  position: absolute;
  top: 40%;
  right: 0;
  text-align: left;
  padding-left: 10px;
  min-width: 40px;
  width: 40px;
  max-width: 40px;
  min-height: 50px;
  max-height: 50px;
  line-height: 50px;
  height: 50px;
  border-radius: 50px 0 0 50px;
}
