.title {
  font-size: medium;
  width: 100% !important;
  background: #0081c9;
  padding: 5px;
  position: sticky;
  top: 0;
  display: flex;
}

.card {
  margin: 5px;
  font-size: 14px;
  min-width: 220px;
  width: 220px;
  max-width: 220px;
}

.spoolingCard {
  margin: 5px;
  font-size: 14px;
  min-width: 440px;
  width: 440px;
  max-width: 440px;
}

.spoolingCard table,
.card table {
  width: calc(100% + 10px);
  border-collapse: collapse;
  margin: -5px;
}

.spoolingCard th,
.card th {
  text-align: center;
  font-weight: bold;
  width: 50%;
  background: #0081c9;
}

.spoolingCard tr:not(:first-child),
.card tr:not(:first-child) {
  border-top: 1px solid hsl(206, 24%, 64%);
}

.spoolingCard th:not(:first-child),
.card th:not(:first-child) {
  border-left: 5px solid #30404d;
}

.spoolingCard td,
.card td {
  text-align: left;
  padding: 0;
  padding-left: 5px;
}

.spoolingStatus {
  background-color: #92f8e6;
  height: 3px;
  width: 100%;
}
