.title {
  font-size: medium;
  width: 100% !important;
  background: hsl(207, 23%, 37%);
  padding: 5px;
  position: sticky;
  top: 0;
  display: flex;
}

.card {
  margin: 5px;
  font-size: small;
  min-width: 220px;
  width: 220px;
  max-width: 400px;
}

.card table {
  width: 100%;
  border-collapse: collapse;
}

.card th {
  text-align: center;
  font-weight: bold;
  width: 50%;
  background: hsl(207, 23%, 37%);
  border: 5px solid #30404d;
}

.card td {
  text-align: left;
  border-top: 1px solid hsl(206, 24%, 64%);
  padding: 5px;
}

@keyframes up-right {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }
  50% {
    transform: scale (1, 5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}

.spoolingStatus {
  border-radius: 50%;
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #3dcc91;
}

.active {
  background-color: #ffb366;
  opacity: 0.25;
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}
