.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.board {
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
}

.editor {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
