.container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.loading {
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
