.menu {
  text-align: right;
  height: 100vh;
  max-height: 100vh;
  background-color: transparent;
  user-select: none;
}

.addWorkspaceCard {
  min-width: 400px;
  width: 100%;
  padding: 15px !important;
  padding-top: 5px !important;
  margin: 3px;
}

.menuItem {
  color: rgb(167, 182, 194) !important;
}

.menuItem-disabled {
  color: #f5f8fa !important;
}
