.menu {
  text-align: right;
  height: 100vh;
  max-height: 100vh;
  background-color: transparent;
  user-select: none;
}

.addWorkspaceCard {
  min-width: 200px;
  max-width: 200px;
  padding: 15px;
  padding-top: 5px;
  margin: 3px;
}
