/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~overlayscrollbars/css/OverlayScrollbars.css';

body {
  position: relative;
  color: #f5f8fa;
  height: 100vh;
  background-color: #182026;
  background-image: linear-gradient(
    to right top,
    #293742,
    #32414d,
    #3c4c58,
    #455664,
    #4f6170,
    #506372,
    #526574,
    #536776,
    #4c606f,
    #465967,
    #3f5260,
    #394b59
  );
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

.Resizer {
  background: #f5f8fa;
  opacity: 0.4;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid #8a9ba8;
  border-bottom: 5px solid #8a9ba8;
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  opacity: 0.7;
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}

.bp3-card {
  padding: 10px;
}
